.container {
    margin-top: 2rem;
}

.header-box {
    width: 10rem;
    height: 5rem;
    border: 2px solid black;
    margin-left: 4rem;
    text-align: center;
    padding-top: 1rem;
}

.MuiContainer-root {
    margin-bottom: 10px;
    margin-top: 10px;
}

.send-coin-input {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border-color: #979999;
    background-color: #F8F9F9;
}

.send-coin-modal-container {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    box-shadow: 24px;
    padding: 4px;
    background-color: #F8F9F9;
}

.modal-close-icon {
    float: right; 
    color: black;
    padding-right: 0;
}

.css-9cpvyd-MuiStack-root {
    width: 102%;
    margin-left: -3.8px;
    margin-top: -3.7px;
    padding: 5px;
}

.modal-body {
    margin-top: 20px;
}

label.Mui-focused {
    color: #d93954 !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #d93954;
}
