.container, .container-md, .container-sm {
    max-width: 100%;
}

.container2 {
    max-width: 100%;
    margin-right: 5px;
}

.css-mhc70k-MuiGrid-root {
    margin-top: 0px;
    width: 31vw;
    margin-left: -22px !important;
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item {
    padding-top: 0px;
}

.css-auylq4-MuiGrid-root {
    max-width: fit-content;
}

.MuiButton-containedPrimary {
    background-color: #d93954 !important;
    border-color: #d93954 !important;
    color: #ffffff !important;
  }
  
  .MuiButton-outlinedPrimary {
    border-color: #d93954 !important;
    color: #d93954 !important;
  }