/* .MuiButton-containedPrimary {
    background-color: #D92E1D !important;
    border-color: #D92E1D !important;
    color: #ffffff !important;
  }
    
  .MuiButton-outlinedPrimary {
    border-color: #D92E1D !important;
    color: #D92E1D !important;
  } */

  .css-i4ucx8-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.css-i4ucx8-MuiButtonBase-root-MuiButton-root {
    margin-top: 0px !important;
    height: 56px !important;
}