.css-i4ucx8-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.css-1cq7dkh.Mui-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.css-i4ucx8-MuiButtonBase-root-MuiButton-root {
    margin-top: 9px !important;
    height: 36px !important;
}

.uploadBulkDataContainer {
  width: 100% !important;
  overflow-y: scroll;
  height: 85vh;
  padding-left: 0px !important;
  margin-left: 2px !important;
  margin-top: 0px !important;
}